@font-face {
    font-family: SF;
    src: url('../resources/SFProMedium.ttf');
}

.editable-text {
	-fx-font-family: Montserrat;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 14;
    -fx-padding: 5;
    -fx-background-color:  #CECFD1;
    -fx-background-opacity: 0.2;
    -fx-background-radius: 5 5 5 5;
}

.editable-text:hover {
    -fx-background-color: #FA2C56;
}
.editable-text:focused {
    -fx-background-color: #000000;
    
}
.color-picker {
-fx-background-color : #FA2C56;
-fx-background-radius :  50 50 50 50;
-fx-font-family: Montserrat;
-fx-font-fill: #ffffff;

}
.infoLabel {
	-fx-font-family: Montserrat;
	-fx-font-size: 10;
	-fx-text-fill: #ffffff;
}

.color-picker:hover {
    -fx-background-color: #8a1a30;
}
.color-picker .arrow {
	-fx-background-color : #ffffff ;
}
.color-picker .label {
     -fx-text-fill: #ffffff;

}

.color-picker .color-picker-label
{
-fx-alignment : bottom-center;
}

.slider .track {
	-fx-background-color: #FA2C56;
}
.slider .thumb {
	-fx-background-color: #ffffff;
}

